<h1>Issue - #<%= @issue.id %></h1>
<p>
  <b>status</b>: 
  <%= @issue.status %>
</p>
<p>
  <b>name</b>: 
  <%= @issue.name %>
</p>
<p>
  <b>stance_positive</b>: 
  <%= @issue.stance_positive %>
</p>
<p>
  <b>lft</b>: 
  <%= @issue.lft %>
</p>
<p>
  <b>stance_negative</b>: 
  <%= @issue.stance_negative %>
</p>
<p>
  <b>rgt</b>: 
  <%= @issue.rgt %>
</p>
<p>
  <b>parent_id</b>: 
  <%= @issue.parent_id %>
</p>
  