<h1>Politician - #<%= @politician.id %></h1>
<p>
  <b>eventful_id</b>: 
  <%= @politician.eventful_id %>
</p>
<p>
  <b>congresspedia_url</b>: 
  <%= @politician.congresspedia_url %>
</p>
<p>
  <b>webform</b>: 
  <%= @politician.webform %>
</p>
<p>
  <b>crp_id</b>: 
  <%= @politician.crp_id %>
</p>
<p>
  <b>nickname</b>: 
  <%= @politician.nickname %>
</p>
<p>
  <b>fec_id</b>: 
  <%= @politician.fec_id %>
</p>
<p>
  <b>district_number</b>: 
  <%= @politician.district_number %>
</p>
<p>
  <b>type</b>: 
  <%= @politician.type %>
</p>
<p>
  <b>website</b>: 
  <%= @politician.website %>
</p>
<p>
  <b>seat</b>: 
  <%= @politician.seat %>
</p>
<p>
  <b>district_id</b>: 
  <%= @politician.district_id %>
</p>
<p>
  <b>gender</b>: 
  <%= @politician.gender %>
</p>
<p>
  <b>bioguide_id</b>: 
  <%= @politician.bioguide_id %>
</p>
<p>
  <b>govtrack_id</b>: 
  <%= @politician.govtrack_id %>
</p>
<p>
  <b>twitter_id</b>: 
  <%= @politician.twitter_id %>
</p>
<p>
  <b>phone</b>: 
  <%= @politician.phone %>
</p>
<p>
  <b>youtube_url</b>: 
  <%= @politician.youtube_url %>
</p>
<p>
  <b>first_name</b>: 
  <%= @politician.first_name %>
</p>
<p>
  <b>votesmart_id</b>: 
  <%= @politician.votesmart_id %>
</p>
<p>
  <b>party_id</b>: 
  <%= @politician.party_id %>
</p>
<p>
  <b>name_suffix</b>: 
  <%= @politician.name_suffix %>
</p>
<p>
  <b>last_name</b>: 
  <%= @politician.last_name %>
</p>
<p>
  <b>email</b>: 
  <%= @politician.email %>
</p>
<p>
  <b>active</b>: 
  <%= @politician.active %>
</p>
<p>
  <b>state</b>: 
  <%= @politician.state %>
</p>
<p>
  <b>middle_name</b>: 
  <%= @politician.middle_name %>
</p>
  