<h1><%= @politician.name %></h1>
<div id="main">
  <div id="information" class="clearfix">
    <%= partial :full_view %>
  </div>
  <div id="bills">
    <%= partial :bill_list %>
  </div>
</div>   
<div id="secondary">
  <div id="district_map" class="district_map">  
    <% throw_content :head do -%>   
      <%= js_include_tag :jquery %>
    <% end -%>
    <%= politician_map( @politician ) %>    
    <noscript>
      <div class="js_free">
        This map requires javascript. Please turn on javascript to get full use of the site.
      </div>  
    </noscript>
  </div>  
  
  <% unless @politician.politician_issues.empty? %>
    <div id="issues" class="white_border">
      <h2>Issues</h2>
      <div class="cloud">
      <% last = @politician.politician_issues.last %>
      <% for pi in @politician.politician_issues -%>
        <% issue = pi.issue %>
        <%= link_to issue.name, resource(issue), 
              :class => 'tag', :style => tag_styling(pi, 0.85, 1.2) %><% 
          unless pi == last %>, <% end %>
      <% end -%>
      </div>
    </div>
  <% end -%>  
    
</div> 