<%= form_for @member, :action => url(:members, @member) do %>
  <h3 class="first">Required Fields</h3>
  <%= text_field :username, :label => 'Username', :size => 25 %> 
  <br/>   
  <%= text_field :email, :label => 'Email Address', :size => 25 %>  
  <br/>
  <%= text_field :zipcode, :label => 'Zipcode', :size => 25 %>
  <br/>
  <%= password_field :password, :label => 'Password', :size => 10 %> 
  <br/>   
  <%= password_field :password_confirmation, :label => 'Confirm Password', :size => 10 %> 
  <br/> 
  
  <h3>Optional fields *</h3>
  <%= text_field :first_name, :label => 'First Name', :size => 25 %> 
  <br/>
  <%= text_field :last_name, :label => 'Last Name', :size => 25 %> 
  <br/>
  <%= text_area :address, :label => 'Street Address', :cols => 22, :rows => 3  %> 
  <br/>
  <%= text_field :city, :label => 'City', :size => 25 %> 
  <br/>
  <%= select :state_id, 
    :label => 'State', 
    :prompt => 'Select your state ...',
    :collection => State.all, # not a database call since the table is loaded into memory
    :text_method => :name,
    :value_method => :id,
    :selected => @member[:state] %> 
  <br/>
  <%= select :party_id, 
    :collection => Party.all, # not a database call since the table is loaded into memory
    :label => 'Party Affiliation',
    :value_method => :id,
    :text_method => :name,
    :selected => @member.party_id.to_s,
    :prompt => 'Select your party ...' %>
  <br/>
  <%= submit 'Register', :class => 'indented' %>
<% end =%>
<h6>* Most of these fields are used for contacting your congressional representatives and the information will not be sold, disclosed or abused!</h6>